@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: "Montserrat", sans-serif;
}

header{
    background-image: url("./images/Image-wrapper.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.scroll-text{
    background-color: #4170E8;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

marquee{
    padding: 5px 0;
}

marquee span{
    padding: 0 20px;
}

.container{
    margin: 0 auto;
    width: 95%;
}

.nav-bg{
    background-color: #fff;
    opacity: 0.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav a{
 color: #414141;
 text-decoration: none;
 font-size: 14px;
 padding: 0 10px;
}

.link-icon{
    display: flex;
}

.link-icon img{
  width: 15px;
}

.logo h2{
    text-transform: capitalize;
    letter-spacing: 4px;
}

.hero-text{
    color: #fff;
    transform: translateY(40vh);  
}

.hero-text h2{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 500;
    width: 700px;
    margin-bottom: 15px;
}

.hero-text  p{
    font-size: 15px;
    width: 500px;
    line-height: 25px;
    margin-bottom: 30px;
}

.hero-text a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #4170E8;
    padding: 10px 20px;
    font-size: 15px;
}

.featured-collection{
    margin-top: 50px;
}

.featured-collection h2{
    color: #3a3838;
    font-size: 35px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.collections{
    display: flex;
    gap: 40px;
}

.first-collection{
    background-image: url('./images/featured-image1.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.second-collection{
    background-image: url('./images/featured-image2.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.first-collection a{
    position: absolute;
    top: 55vh;
    margin-left: 20px;
     background-color: #4170E8;
      color: #fff;
      font-size: 17px;
      text-decoration: none;
      padding: 10px 15px;
}

 .first-collection h4{
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    top: 50vh;
      margin-left: 20px;
}

.second-collection a{
    position: absolute;
    top: 55vh;
      margin-left: 20px;
      background-color: #4170E8;
      color: #fff;
      font-size: 17px;
      text-decoration: none;
      padding: 10px 15px;
}

 .second-collection h4{
    position: absolute;
    top: 50vh;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
      margin-left: 20px;
}

.trending{
    margin-top: -7em;
}

.trending h2{
    color: #3a3838;
    font-size: 35px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.horizontal-scroll{
 white-space: nowrap;
 overflow-x: scroll;
 overflow-y: hidden; 
 display: flex;   
 gap: 20px;
}

.card-image{
    position: relative;
}

.card-image h4{
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #4170E8;
    color: #fff;
    padding: 10px;
    font-weight: 400
}

.card-text  h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text h4{
    color: #3a3838;
    font-size: 16px;
    margin-bottom: 20px;
}

.luxury{
    margin-top: 40px;
     position: relative;
     display: none;
}

.luxury img{
    width: 100%;
}

.luxury-content{
    position: absolute;
    bottom: 80px;
    left: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
}

.luxury-content h3{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.luxury-content a{
    background-color: #4170E8;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}

.women-collection{
    margin-top: -20px;
}

.subscribe{
    background-image: url('./images/sunscribe-img.png');
    margin-top: -4px;
    height: 100vh;
    display: none;
}

.subscribe-content{
    transform: translateY(25vh);
    background-color: #fff;
    padding: 50px 30px;
    max-width: 550px;
    margin-left: 30px;
}

.subscribe-content .p1{
 font-weight: 700;
 font-size: 20px;
 width: 450px;
}

.subscribe-content .p2{
    color: #414141;
    margin-top: 10px;
}

form{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

form input{
    padding: 12px 15px;
    background-color: #f8f8f8;
    border: none;
}

form button{
    border: #4170E8;
    background-color: #4170E8;
    padding: 10px 0;
    margin-top: 15px;
    color: #fff;
    font-size: 15px;
}

footer{
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    display: none;
}

.first{
    display: flex;
    justify-content: space-between;
}

.first-first h3{
  color: #fff;
  font-size: 24px;
}

.first-first .p3{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

.first-first span{
 display: flex;
  color: #f8f8f8;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

.first-second{
    display: flex;
    gap: 10em;
}

.help, .company{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help h3, .company h3{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.help a, .company a{
    color: #f8f8f8;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}


@media (max-width: 600px){
    .nav-bg{
        display: none;
    }

    .hero-text{
    transform: translateY(20vh);  
}

.hero-text h2{
    font-size: 40px;
    width: 100%;
}

.hero-text  p{
    width: 100%;
}

.collections{
   flex-direction: column;
}

.first-collection{
    width: 100%;
    background-position: center;

}

.second-collection{
    width: 100%;
    background-position: center;
    margin-top: -0px;
}
}

